{% extends 'site.html.twig' %}

{% block page %}
    {{ ride_name }} Wait Times | <a href="/">Back to all rides</a>
    <table>
        <thead>
            <tr>
                <td>Updated</td>
                <td>Status</td>
                <td>Wait</td>
            </tr>
        </thead>
        <tbody>
            {% for wait in waits %}
            <tr>
                <td>{{ wait.created_at }}</td>
                <td>{{ wait.ride_status }}</td>
                <td>{{ wait.wait_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}