<html>
<head>
    <title>Dollywood Wait Times</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript">
        {%  block javascript %}{% endblock %}
    </script>
</head>
<body>
{% block page %}{% endblock %}
</body>
</html>